@import "breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");


.header {
  font-family:'Roboto';
  font-weight:900;
  letter-spacing:0.2em;
  font-size:30px;
  @include md {
    font-size: 50px;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

svg {
  width: 30px;
  height: 30px;
  color: black;
}

.modalIcon {
  color: white;
  width: 70px;
  height: 70px;
}

.difficultyLevelAndTimerContainer {
  display: flex;
  justify-content: space-between;
  width: 300px;

  @include md {
    width: 500px;
  }
}

.difficultyLevel {
  display: flex;
  align-items: center;
  font-family:'Roboto';
  font-size:14px;

  @include md{
    font-size:20px;
  }
}

select {
  outline-style: none;
  border:none;
  font-family: 'Roboto';
  text-align:center;
  font-size:14px;

  @include md{
    font-size:20px;
  }
}

table {
  margin-top: 10px;
  width: 300px;
  height: 300px;
  border-spacing: 0px;

  @include md {
    width: 500px;
    height: 500px;
  }
}

.board {
  position:relative;
  width: 300px;
  height: 300px;


  @include md {
    width: 500px;
    height: 500px;
  }
}

.overlay{
  position: fixed;
  margin-top: 10px;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
  @include md {
    width: 500px;
    height: 500px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


