.field {
  position: relative;
  border: 1px solid grey;
  width: 25px;
  height: 25px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.field:first-child {
  border-left: 3px solid darkblue;
}
.field:nth-child(3n) {
  border-right: 3px solid darkblue;
}

.editableField {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border: none;
  outline-style: none;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
}

.uneditableField {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
