.editableField {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92%;
  height: 97%;
  border: none;
  outline-style: none;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
}
