@import "../sass/breakpoints.scss";

.pauseModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 10px;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;

  @include md {
    width: 400px;
    height: 400px;
  }
}

.playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: transparent;
  outline: none;
  border: none;
}
